@import '../../customize.scss';

.content-wrapper{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    @include tablet {
        overflow: auto;

    }
    @include phone {
        //overflow: hidden;
    }

}

.main-title{
    display: flex;
    flex-direction: column;
    font-family: $font-basic;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 66px;
    margin-top: 0;
    margin-bottom: 15px;
    color: #121212;
    @include phone {
        font-size: 32px;
        line-height: 36px;
    }

}

.main-page-description{
    font-family: $font-basic;
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 30px;
    margin: 15px 0;
    @include phone {
        font-size: 18px;
        line-height: 21px;
    }
}

.button-wrapper{
    margin-top: 40px;
    margin-bottom: 40px;
    height: 30px;
    @include phone {
        position: relative;
        width: 100vw;
        height: 30px;
        margin: 0 -16px;
        margin-top: 20px;
        margin-bottom: 20px;
        
        box-sizing: border-box;
    }
    button{
        @include phone{
            margin-top: 0 -16px;
            position: absolute;
            left: 16px;
            top: 0;
            width: 100%;
            margin: 0 -16px;
            border-radius: 0;
            
        }
    }
}