@import '../../../constants/customize.scss';

.header{
    display: flex;
    justify-content: space-between;
    @include phone{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-end;
        //max-width: 250px;
        
    }
    
//align-items: baseline;
    &-title {
        margin: 0;
        font-weight: bold;
        font-size: 30px;
        line-height: 30px;
        @include phone {
            margin-bottom: 9px;
        }
    }
    
    .geo-wrapper{
        display: flex;
        align-items: center;
        
    }
    .geo-img{
        width: 15px;
        margin-right: 7px;
    }
    .geo-text{
        font-weight: normal;
        font-size: 14px;
        line-height: 30px;
    }
}

        
