@import "../../customize.scss";

.side-menu {
    width: 64px;
    @include side-menu-padding;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #151B1F;
    box-sizing: border-box;
    .burger-button{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 24px;
        height: 24px;
        padding: 0;
        border: none;
        background-color: transparent;
        box-sizing: border-box;
        
        &:hover>div{
            box-shadow: 0px 0px 3px .5px #FFFFFF;
        }
        &:active>div{
            width: 20px;
            height: 1px;
            
        }

        &>div{
            width: 24px;
            height: 3px;
            background-color: white;
            border-radius: 3px;
            transition: width .1s, height .1s, box-shadow .1s;
        }
        
    }

    .lang-button{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        font-family: $font-basic;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 15px;
        color: $green;
        border: none;
        transition: border-color .2s, color .1s;
        box-sizing: border-box;
            &>div{
                position: absolute;
                width:48px;
                height: 48px;
                border: 1px solid white;
                border-radius: 50%;
                opacity: 0;
                transition: opacity .2s;
            }
            &:hover > div{
                opacity: 1;
            }
            &:active{
                color: white;
            }
    }
}

