@import "./media_mixin.scss";
@import './fonts/fonts.scss';


$font-basic: Roboto;

//colors:
$green: #0EC261;
$black: #121212;
$dark-grey: #999999;
$light-grey: #EEEEEE;

//padding:
$padding-vert: 40px;
$padding-hor: 40px;




@mixin container-padding {
  padding: 32px;
  @include desktop {
    padding: 32px 64px;
  }   
  @include phone {
    padding: 16px;
  }
}

@mixin side-menu-padding {
  padding: 32px 0;   
  @include phone {
    padding: 16px 0;
  }
}






