@import '../../../constants/customize.scss';
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include container-padding;
    @include phone {
        position: relative;
        width: 100vw;
        background-color: #151B1F;
        flex-direction: column-reverse;
        justify-content: start;
        align-items: flex-end;
        padding: 16px;
        box-sizing: border-box;

    }
        span{
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 15px;
            color: $dark-grey;
            @include phone {
                color: #EEEEEE;
            }
        }
        span:last-child{
            color: black;
            @include pointer;
            @include phone {
                display: block;
                color: $green;
                margin-bottom: 8px;
            }
        }
}